<% include partials/header %>
<div class="row">
<a href="<%= bookInfo.saleInfo.buyLink %>" target="_blank"><img class="bookpage-main-img center" src="<%= bookInfo.imageLink %>"></a>
<p class="book-description center"><%= bookInfo.volumeInfo.description %></p>
<% if (username) { %>
<form method="post" action="/users/1/add/1234" class="center">
  <button class="center" type="submit">Add To Reading List</button>
</form>
</div>
<% } %>
<% include partials/footer %>