<% include partials/header %>
<img class="bookpage-main-img" src="<%= bookInfo.imageLink %>">
<p class="book-description">Bacon ipsum dolor amet pork picanha spare ribs porchetta pork belly shank short loin ground round fatback andouille. Meatloaf sirloin strip steak buffalo drumstick pancetta tri-tip tenderloin rump. Short loin ham leberkas pancetta, swine strip steak buffalo filet mignon. Beef ribs doner salami tongue venison porchetta short loin pork belly cow swine tail kielbasa bresaola shank biltong. Rump pancetta t-bone tenderloin ball tip meatball cow picanha tail shankle jerky bresaola.</p>
<% include partials/footer %>