<% include partials/header %>
<form action="/login" method="post" class="center"> 
  <div class="form-element">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" autofocus required>
  </div>
  <div class="form-element">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
  </div>
  <div class="form-element login-btn">
    <input type="submit" value="Login">
  </div>
</form>
<% include partials/footer %>