@import url("normalize.css");

/* CSS Custom Properties */

:root {
  --top-gutter: 12px;
}

/* Global Styles */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  border: 1px dashed #666;
}

.site-container {
  margin: 0 auto;
  width: 1000px;
  border: 1px solid #333;
}

.row {
  margin-top: var(--top-gutter);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* Nav */

nav {
  margin-top: var(--top-gutter);
  padding: 0px;
  border: 1px solid red;
}

nav ul {
  list-style-type: none;
  padding: 4px 0;
  margin: 0;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  text-decoration: none;
  color: black;
}

.nav-left {
  font-size: 32px;
  left: 2%;
}

.nav-right {
  left: 73%;
  font-size: 18px;
}

/* Homepage Images */ 

img {
  width: 320px;
  height: 460px;
}

.homepage-img {
  display: inline-block;
  margin-right: 15px;
}

.homepage-img:last-child {
  margin-right: 0;
}

/* Forms */

form {
  width: 50%;
}

button {
  display: block;
  margin-top: var(--top-gutter);
}

.form-element {
  margin-top: var(--top-gutter);
  text-align: center;
}

label {
  display: inline-block;
  width: 75px;
}

input {
  width: 125px;
}

input[type="submit"] {
  width: 100px;
}

/* /books/:isb13 page */

.bookpage-main-img {
  display: block;
}

.book-description {
  width: 70%;
  margin-top: var(--top-gutter);
}