@import url("normalize.css");

/* Global Styles */

body {
  background-color: #333;
}

.site-container {
  margin: 0 auto;
  width: 1000px;
  background-color: red;
}

.center {
  margin: 0 auto;
  text-align: center;
}

/* Login Form */

form {
  width: 50%;
}

.form-element {
  margin: 10px 0;
}

label {
  display: inline-block;
  width: 75px;
}

input {
  width: 125px;
}

input[type="submit"] {
  width: 100px;
}